@font-face {
    font-family: pinkylove;
    src: url(Pinky\ Love.ttf);
}
@font-face {
    font-family: louisfontcafe;
    src: url(Louis\ George\ Cafe.ttf);
}
html{
    background-color: cornsilk;
}
.whitebackground{
    background-color: cornsilk;
}
#background-purple{
    background-color: rgb(182, 147, 212);
}
#title{
    font-family: pinkylove;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 1%;
}
div.mothercard {
    border-color: bisque;
    border-style: solid;
    border-width: 4px;
    border-radius: 6px;
    margin: 4%;
    background-color: rgb(233, 181, 163);
    position: relative;
    font-family: louisfontcafe;
}
#nainaiimage{
    margin-top: 4%;
    margin-bottom: 2%;
}
#nainaiimagemobilephone{
    margin-top: 4%;
    margin-bottom: 2%;
    transform: scaleX(0.95);
}
@media only screen and (max-width: 575px) {
    .chongraynainaip, .iannainai, .shannanainai, .chongraybaning, .shannamama, .didimama{
        margin-left: 2%;
        margin-right: 2%;
    }
    .iannainai, .shannanainai{
        margin-top: 4%;
    }
    .didimama{
        margin-top: 5%;
    }
    .chongraybaning, .mama{
        font-size: 1.3em;
    }
    #mamaimagemobilephone{
        margin-top: 2%;
    }
}
@media only screen and (min-width: 576px) {
    .chongraynainaip{
        margin-left: 5%;
    }
    .iannainai{
        position: relative;
        right: 6%;
    }
    .chongraybaning, .mama{
        font-size: 1.5em;
    }
    .shannamama{
        margin-left: 4%;
    }
    .didimama{
        position: relative;
        right: 4%;
    }
}
#baningimage{
    transform: scaleX(0.95);
}
#mamaimage, #mamaimagemobilephone{
    transform: scale(0.95);
}